* {
 margin: 0;
 border: 0;
 box-sizing: border-box;
}

:root {
 --primary-color: #ececec;
 --secondary-color: #151515;
 --blue-color: #2bc5cd;
 --orange-color: #ff693d;
 --border: 2px solid var(--blue-color);
 --spacing: 28px;
 font-family: Arial, Helvetica, sans-serif;
}

/* Resto del CSS */
body {
 gap: 20px;
 padding: var(--spacing);
}

.grid-container {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-auto-rows: 300px;
}

header {
 display: grid;
 background-color: var(--blue-color);
 grid-row: 1/3;
 color: var(--primary-color);
 text-align: center;
 padding: 30px;
}

p {
 display: grid;
}

main {
 color: var(--blue-color);
 border: var(--border);
 text-align: center;
}

h2 {
 display: grid;
 height: 100%;
 padding: 100px 20px 100px 20px;
 align-items: center;
}

.school {
 background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
 background-size: cover;
}

.student {
 background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
 background-size: cover;
}

.time {
 background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
 background-size: cover;
}

.alumni {
 background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
 background-size: cover;
}

footer {
 background-color: var(--orange-color);
 color: var(--primary-color);
 grid-column: 2/4;
 padding: var(--spacing);
}

footer > p {
 padding: 30px 0 30px 0;
}

button {
 padding: 30px;
 cursor: pointer;
}

@media (max-width: 400px) {
 .grid-container {
  display: flex;
  flex-wrap: wrap;
 }

 section {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  background-size: cover;
 }

 header,
 h2,
 footer {
  height: 400px;
 }
}
